body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.controls {
    display: flex;
    align-items: center;
    margin: 20px;
}

#add-user-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

#hide-disabled-checkbox-container {
    display: flex;
    align-items: center;
}

#hide-disabled-checkbox {
    margin-right: 10px;
}

#hide-disabled-label {
    font-size: 16px;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.user-list, .add-user {
    width: 45%;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e6f7ff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.sort-icon, .filter-icon {
    width: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.popup h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input[type="text"],
form input[type="email"],
form select {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
